Source: ydcmd
Section: utils
Priority: optional
Maintainer: Anton Batenev <antonbatenev@yandex.ru>
Build-Depends: debhelper (>= 7.0.50~), python
Standards-Version: 3.9.4
Vcs-Git: https://github.com/abbat/ydcmd.git
Vcs-Browser: https://github.com/abbat/ydcmd
Homepage: https://github.com/abbat/ydcmd

Package: ydcmd
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-dateutil
Recommends: ca-certificates
Suggests: python-progressbar
Description: Command-line Yandex.Disk client
 Command-line tool to upload, retrieve and manage data in Yandex.Disk
 service (https://disk.yandex.com), designed for use in scripts.
